.github
.vscode
.husky
!.husky/install.ts
assets
data
dist
docs
!docs/Docker.png
!docs/CHANGELOG.md
!docs/PRIVACY.md
!docs/TERMS.md
chroma-data
meili-data
nginx/cache
node_modules
tests
tmp

.dockerignore
.env
.gitattributes
.gitignore
.prettierrc.json
compose*.yaml
Dockerfile
eslint.config.ts
