APP_ID=$APP_ID
DISCORD_TOKEN=$DISCORD_TOKEN

#MEILI_MASTER_KEY=$MEILI_MASTER_KEY

#TWITCH_CLIENT_ID=$TWITCH_CLIENT_ID
#TWITCH_SECRET=$TWITCH_SECRET

#REDDIT_CLIENT_ID=$REDDIT_CLIENT_ID
#REDDIT_SECRET=$REDDIT_SECRET

#EMBED_SERVER_TWITCH=https://example.com/t/
#EMBED_SERVER_REDDIT=https://example.com/r

#OPENAI_API_KEY=$OPENAI_API_KEY
#DEEPL_API_KEY=$DEEPL_API_KEY

#TENOR_API_KEY=$TENOR_API_KEY

#DISCORD_EMOJIS=<:emoji_name:emoji_id>,<:emoji_name:emoji_id>
